matplotlib==3.9.2
tqdm==4.66.5
PyYAML==6.0.2
munch==4.0.0

scalebar~=0.5.2
cvargparse~=0.5.3
backgroundremover==0.2.8
gitpython==3.1.44
# those packages are installed via requirements of other packages
# but we would like to pin them to specific versions
# to avoid conflicts
numpy==2.0.2
opencv-python-headless==4.11.0.86
